/*
 * FIXES:
 * 1. Changed margin: 0% to margin: 0
 * 2. Changed .container to .content (to match your HTML)
 * 3. Changed .condition to .Condition (to match your HTML)
 * 4. Added 'display: flex' to 'nav form' to align search bar and button
 * 5. Changed padding: 0.5mm to 0.5rem on the button
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Good practice to add this */
}

.content {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* Added a default font */
}

.Weather_container {
    color: white;
    /* I'm adding a background here to make it stand out from the red */
    background-color: rgba(0, 0, 0, 0.2); /* Dark, semi-transparent black */
    padding: 2rem;
    border-radius: 15px;
}

.temp {
    font-size: 4.5rem;
}

.time_location {
    font-size: 2rem;
}

.Condition {
    margin: 0.5rem;
    margin-left: 0.2rem;
    font-size: 1.5rem; /* Added this so we can see it */
}

nav {
    /* height:100px; */ /* This isn't needed anymore */
    margin: 2rem 0 0 0; /* Changed margin */
}

nav form {
    display: flex; /* This aligns the input and button */
    align-items: center;
}

.search_area {
    padding: 1rem 0;
    outline: none;
    border: none;
    color: white; /* Changed to white to look better */
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    margin-right: 1rem; /* Added space between input and button */
}

.search_area::placeholder { /* Style the placeholder text */
    color: #eee;
}

nav form button {
    padding: 0.5rem 1rem; /* Changed from 0.5mm and added side padding */
    background-color: white;
    /* margin-top: 1rem; */ /* No longer needed due to flex */
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 5px; /* Added this to make it look nicer */
    cursor: pointer;
    color: red; /* Make text red */
}